@media screen and (min-width: 475px) and (max-width: 767px)
{
    .nav>li>a 
    {
        text-align: center;
        display: block;
    }
    #works .container-fluid img
    {
        height: 525px;
        margin-top: 10px;
    }
    .navbar-inverse .navbar-nav>li>a 
    {
        color: #292c47;
        width: 175px;
        text-align: center;
    }
  
}
@media screen and (min-width: 120px) and (max-width: 991px)
{
    #abt .col-md-4
    {
        text-align: center;
    }
    #works .btn
    {
        margin: 5px 0;
        
    }
    nav a
    {
        text-align: center;
    }
    #team .list-inline>li 
    {
        
        padding-right: 0;
       
    }
      .banner-text h2 
    {
        margin-top: 215px;
    }
    
 
}
p
{
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
 
}
h1
{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 35px;
}
.hb img
{
    height: 25px;
}
/**work img hover ***/
#works .container-work 
{
    height: 250px;
    position: relative;
    width: 100%;
}


#works .image {
  width: 100%;
  height: auto;
}


#works .overlay 
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ec6a68;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .5s ease;
}

#works .container-work:hover .overlay 
{
  transform: scale(1);
}

#works .text 
{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/****work img hover****/
#works
{
    background: #3a3038;  
    width: 100%;
}
.btn
{

    border: 0;
    color: #fff;
    border-radius: 2px;
}
#works .container-fluid p
{
    color: #ddd;
    font-size: 16px;
}
#works .container-fluid .btn, #works .container-fluid .btn:focus 
{
    border: 1px solid #fff;
    background: none;
    color: #fff;
}
.banner-text .btn
{
    border: 1px solid #fff;
    background: none;
    margin-top: 40px;
    width: 185px;
    color: #ec6a68;
}
.banner-text .btn:hover
{
    background:  #ec6a68;
    color: #fff;
    border: 1px solid #ec6a68;
}
.banner-text h2 
{
    color: #ddd;
    font-size: 40px;
    margin-top: 250px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-text h3
{
    color:#ddd;
    
}
.banner-text h1 
{
    color: #fff;
    font-size: 70px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
#works h1
{
    color: #fff;
}
p, #skills h4
{
    opacity: 0.8;
    font-size: 18px;
}
#skills h4
{
    color: dimgrey;
    font-size: 20px;
}
.banner-text p 
{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px;
}
.foo p
{
    opacity: 0.5;
   margin-top: 10px;
}

.foo
{
    background: #3a3038;
    color: white;
    padding: 15px 0;
}
.list-inline>li 
{

    padding-left: 0px;
}
.navbar-nav
{
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-inverse .navbar-toggle 
{
    background-color:#ec6a68;
    border: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover 
{
        color: #ec6a68;
        font-size: 17px;
        border-bottom: 2px solid;
        font-weight: 600;
        background-color:#ffff;
}
.navbar-inverse 
{
        box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 7px 35px rgba(0,0,0,0.24);
        background-color:#ffff;
        border: 0; 
        padding: 15px 0;
}
.navbar-inverse .navbar-nav>li>a {
    color: #292c47;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #ec6a68;
}
.navbar-brand>img {
    margin-top: -15px;
    position: absolute;
}
#banner
{
	background:url(../images/b2.jpg)no-repeat center center fixed;
	display:table;
	height:700px;
	position:relative;
	width:100%;
	background-size:cover;

}
#abt img
{
    height: 275px;
    margin: auto;
    width: 275px;
    border-radius: 50%;
}
section
{
    padding-bottom: 50px;
}
#about_me ,#services
{
    width: 100%;
    background: #dddddd;
}
.abt-text p
{
    padding: 20px 0;
}
.abt-text a:hover
{
    opacity: 0.8;
    color: #fff;
}
.abt-text a
{
    border: 0;
    background: #ec6a68;
   
}
.progress-bar 
{
    background: #ec6a68;
}
.hobbies h4
{
    margin-bottom:20px;
}
.skl h4
{
    margin-bottom:28px;
}



/*****tabs***/
#works .activetab
{
    color: #ec6a68;
    border: 1px solid #fff;
    background:none;
}
#works .btn
{
    color: #ec6a68;
    border: 1px solid none;
    background: none;
}
#works .btn:focus
{

    color: #ec6a68;
    border: 1px solid none;
    background:none;
}
#works img
{
    height: 250px;
    width: 100%;
  
}
#works .container-fluid
{
    margin-top: 30px;
}
.filterDiv {
       margin: 0;
    padding: 0;
    background-color: #3a3038;
    color: #ffffff;
    text-align: center;
    display: none; 
}


.show {
    display: block;
}

#work .btn.active 
{
    border-radius: 0;
    color: #ec6a68;
    border: 2px solid #ec6a68;
    background: white;
}
/*****tabs***/
#team .tm-image 
{
    opacity: 1;
    margin-top: 15px;
    transition: .5s ease;
    backface-visibility: hidden;
}

#team .middle 
{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#team .cont-tm-img
{
    width: 272px;
    margin: auto;
}
#team .cont-tm-img:hover .tm-image 
{
    opacity: 0.3;
}

#team .cont-tm-img:hover .middle 
{
    opacity: 1;
}


input[type=text], input[type=number]
{
    margin-top: 20px;
    height: 45px;
    border-radius: 0px;
}
.msg
{
    padding-top: 15px;
    padding-bottom: 120px;
}
.send:hover, .send:focus
{
    opacity: 0.8;
    color: #fff;
}
.send
{
    background: #ec6a68;
    color: white;
    width: 185px;;
    border-radius: 0;
    margin-top: 25px;
}
#services img
{
    margin-top: 23px;
    height: 65px;
    width: 65px;
    
}
#services .serv-img
{
    background: #ec6a68;
    height: 110px;
    width: 110px;
    margin:15px auto;
    border-radius: 50%;
}
#services p
{
    padding-bottom: 25px;
}
footer .list-inline
{
    padding-top: 35px;
    height: 100px;
}
footer .list-inline a 
{
    background: #ec6a68;
    border-radius: 50%;
    display: block;
    width: 42px;
    height: 42px;
    color: white;
    padding-top: 11px;
    font-size: 21px;
    text-align: center;
    line-height: 37px;
}
#team .list-inline a
{
    border: 1px solid #ec6a68;
    border-radius: 50%;
    display: block;
    width: 42px;
    height: 42px;
    color: #ec6a68;
    padding-top: 9px;
    font-size: 21px;
    text-align: center;
    line-height: 37px;
}
#team .list-inline a:hover
{
    color: white;
    border-radius: 50%;
    background:#ec6a68; 
}