*
{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
section
{
    width: 100%;
    
}
p
{
    color: gray;
}
h1
{
    text-align: center;
    padding: 10px 0;
    color: #fb2e59;
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 35px;
}
.container
{
    width: 960px;
    margin: auto;
}
/*@media screen and (min-width: 1024px) 
{
    #banner img
    {
        width: 100%;
        height: 500px;
    }
    #banner
    {
        height: 500px;
    }
    
}*/

nav {
    position: fixed;
    background: white;
    width: 100%;
    height: 87px;
    /* padding: 25px 0; */
    z-index: 9999;
}
nav li a
{
    text-decoration: none;
    color: gray;
}
nav ul 
{
    list-style-type: none;
    margin: auto;
    width: 960px;
    padding: 0;
}
.active 
{
    background: #fb2e59;
    color: white;
    padding: 34px 15px;
}
nav ul li:first-child
{
    margin-right: 195px;
    line-height: 100px;
    
}

nav ul li:not(:first-child) 
{
     margin-left: 28px;
}
nav li 
{
    display: inline;
}
#banner .text h1
{
    padding-top: 250px;
    font-size: 45px;
    width: 422px;
    text-transform: capitalize;
    text-align: left;
    color: white;
}
#banner .text button
{
   margin-top: 25px; 
}
#banner
{
    height: 700px;
}
#banner img
{
    width: 100%;
    height: 700px;
    position: absolute;
 
}
#banner .text
{
    position: relative;
    margin: auto;
    width: 960px;
}
button
{
    border: 0;
    height: 55px;
    width: 240px;
    border-radius: 10px;
    background: #fb2e59;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/******about us*****/
#about
{
    background: #ebebeb;
    padding-bottom: 55px;
}
#about h2
{
    margin-bottom: 25px;
}
#about p
{
    width: 295px;
    font-size: 18px;
    line-height: 24px;
}
#about .abt-txt
{
    width:400px; 
    float: left;
}
#about .abt-img
{
    width: 100%;
}
#about .salon
{
    height: 400px;
    float: left;
    margin-right: 14px;
    width: 273px;

}
#about .woman
{
    height: 193px;
    width: 273px;
    margin-bottom: 14px;
}
#about .man
{
    height: 193px;
    width: 273px;
}
/****services**/
#servic
{
    height: 475px;
}
#servic .serv-img
{
    width: 16%;
    text-align: center;
    float: left;
    margin-right: 249px;
    padding: 20px 0;
}
#servic img
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
#mr
{
    margin-right: 0;
    text-align: center;
}
#servic p
{
   
    
    text-transform: uppercase;
    padding: 10px 0;
}
/****strengths****/
#strenths
{
    height: 475px;
    background: #ebebeb;
}
#strenths .str-txt, #strenths .str-txt2
{
    width: 38%;
    float: left;
}

#strenths h2
{
    padding: 15px 0;
}
#strenths .str-txt
{
     margin-right: 230px;
}
#strenths p
{
    line-height: 24px;
    font-size: 18px;
    width: 360px;
}

/*****contact****/
#contact
{
	background:url(../images/bg2.png)no-repeat center center fixed;
	display:table;
	position:relative;
	width:100%;
	background-size:cover;

}
#contact .con-box
{
    width: 675px;
    margin: 55px auto;
    background: black;
  
    
}
#contact .con-box p
{
    color: white;
    padding-top: 40px;
    margin: auto;
    width: 306px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
}
#contact .con-box form
{
    width: 525px;
    text-align: center;
    margin: auto;
}
#contact .con-box input[type=text], #contact .con-box input[type=date], #contact .con-box input[type=time]
{
    
    border: 0;
    width: 237px;
    border-radius: 2px;
    margin-bottom: 6px;
    margin-right: 5px;
    height: 21px;
    padding: 12px 7px;
}
#contact button
{
    margin-bottom: 45px;
    margin-top: 25px;
}
/*****footer***/
footer input[type=text]
{
    border: 1px solid gray;
    width: 275px;
    border-radius: 2px;
    height: 21px;
    padding: 12px 7px;
}
footer form

{
    float: left;
    padding: 30px 0;

}
footer p
{
    text-align: right;
    padding: 40px 0;
}
footer ul
{
    list-style: none;
    padding: 0;
    text-align: right;
    padding: 30px 0;

}
footer li
{
    display: inline;
}
footer li a 
{
    color: white;
    background: black;
    border-radius: 50%;
    padding: 5px;
}
footer button 
{
    border: 0;
    height: 40px;
    margin-top: 15px;
    border-radius: 0;
    width: 150px;
    background: black;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
footer .lg
{
    background: none;
    margin-left: 25px;
    
}
footer span
{
    text-align: center;
    width: 20px;
    height: 20px;
}