
@media only screen and (min-width: 768px) and (max-width: 1109px)/****************medium devices******************/
{
    .container
    {
        width: 768px;
        margin: auto;
    }
    h1
    {
        font-size: 30px;
        font-weight: 400;
        text-transform: capitalize;
        color: #620a7c;
        padding: 1px 0;
        text-align: center;
    }
    .p 
    {
        color: #6c6c6c;
        font-size: 16px;
        font-weight: 300; 
        margin-top: 30px;
        text-align: center;
    }
    hr
    {
        width: 75px;
        height: 1px;
        margin: 0 auto;
        background: #b6202d;
    }
    /********************************header**************************************/
     #header 
    {
        width: 100%;
        background: #626262;
        height: 50px;
    }
    #header ul
    {
        text-align: center;
        padding: 9px 0;
    }
    #header ul li
    {
        display: inline;
        list-style: none;
        padding: 0px 5px;
    }
    #header ul li:last-child
    {
        padding-right: 0;
    }
    #header ul li a:not(:nth-child(2))
    {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        line-height: 35px;
    }
    #header ul li a:hover
    {
        text-decoration: underline;
    }
    #header input[type=search]
    {
        padding: 4px 10px;
        font-size: 12px;
        width: 186px;
        border: 0;
        border-radius: 20px;
    }
    #header span
    {
        background: url(../images/search.jpg)no-repeat center center;
        position: absolute;
        height: 35px;
        width: 23px;
        margin-left: -32px;
    }
    #header span:hover
    {
        cursor: pointer;
        opacity: 0.8;
    }
    #header ul li:first-child, #header ul li:nth-child(2), #header ul li:nth-child(3)
    {
        display: none;

    }
    
    /******************************banner***********************************/
    #banner
    {
        display: none;
    }
    #banner-container
    {
        width: 100%;
        margin: auto;
        
    }
    .topnav a.icon 
    {
        float: right;
        font-size: 25px;
        color: #fff;
        margin-top: 12px;
        margin-right: 20px;
        display: block;
        right: 0;
        top: 0;
    }
    .topnav.responsive .icon 
    {
        float: right !important;
        position: absolute;
        text-align: right;
        right: 0;
        top: 0;
        margin-top: 12px !important;
        margin-right: 20px !important;
        
    }
    nav img
    {
        margin-top: 8px;
        height: 50px;
        margin-left: 20px;
    }
    nav img:hover
    {
        opacity: 0.8;
    }
    nav .topnav a.icon 
    {
        margin-top: 20px;
        margin-right: 20px;
    }
    .small-banner
    {
        float: none;
        
    }
    .small-banner img
    {
        width: 100%;
        height: auto;
        position: relative;
       
    }
    .small-banner .info
    {
        position: absolute;
        color: #fff;
        margin-top: -225px;
        margin-left: 20px;
    }

    .small-banner .info p:first-child
    {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;

    }
    .small-banner .info p:nth-child(2)
    {
        font-size: 24px;
        line-height: 40px;
        font-weight: 300;
    }
    .small-banner .info p:nth-child(3)
    {
        font-size: 18px;
        font-weight: 300;
    }
    .banner-content
    {
        display: none;
    }
    
      /***********************for login signup popup********************************/
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
    }
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border-radius: 20px 20px 20px 0px;
        width: 300px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
    }
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }
    .close, .close-2 {
        color: white;
        float: right;
        font-size: 26px;
        font-weight: bold;
    }
    .close:hover, .close-2:hover,
    .close:focus, .close-2:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-header {
        padding: 5px 16px;
        text-align: center;
        text-transform: capitalize;
        border-radius: 20px 20px 0px 0px;
        background-color: #620a7c;
        color: white;
    }
    .modal-body 
    {
        padding: 15px 0px;
    }
    .modal form
    {
        text-align: center;
    }
    .modal input[type=text], input[type=password]
    {
        border: 1px solid #ddd;
        padding: 7px 8px;
        width: 280px;
        font-size: 12px;
        margin: 5px 0px;
        border-radius: 2px;
    }
    .modal input[type=submit]
    {
        width: 280px;
        background: #d19b4d;
        border: 0;
        color: #fff;
        text-transform: uppercase;
        border-radius: 20px 20px 20px 0px;
        font-size: 14px;
        padding: 8px 5px;
        margin: 10px 0px;
    }
    .modal input[type=submit]:hover, .modal input[type=submit]:focus
    {
        opacity: 0.7;
         transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
        cursor: pointer;

    }


    /***********************special********************************/
    #special
    {
        position: relative;
        margin-top: 20px;
        height: 200px;
    }
    #special .spcl-1, #special .spcl-2, #special .spcl-3
    { 
        float: left;
        border-radius: 20px 20px 20px 0px;
        border: 1px solid #DDD;
        text-align: center;
        width: 240px;
        height: 185px;
        margin:10px 7px;
    }
    
    #special img
    {
        margin-top:18px;
        height: 50px;
    }
    #special h3
    {
        color: #b6202d;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0;
    }
    #special p
    {
        color: #6c6c6c;
        font-size: 14px;
        width: 230px;
        margin:0 auto;
        font-weight: 300;
    }


    /*****************************career*********************************/
    #career
    {
        padding-bottom: 20px;
    }
    #career .row:nth-child(2)
    {
        display: none;
    }
    #career .car-1, #career .car-2, #career .car-3, #career .car-4, #career .car-5, #career .car-6, #career .car-7, #career .car-8
    { 
        float: left;
        border-radius: 20px 20px 20px 0px;
        border: 1px solid #DDD;
        width: 255px;
        height: 300px;
        margin: 12px 63px;
    }
    #career .car-5, #career .car-6, #career .car-7, #career .car-8
    {
        margin-top: 30px;

    }
    #career img
    {
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0px 0px;
    }
    #career .car-1:hover .img, #career .car-2:hover .img, #career .car-3:hover .img, #career .car-4:hover .img, #career .car-5:hover .img, #career .car-6:hover .img, #career .car-7:hover .img, #career .car-8:hover .img
    {
        opacity: 0.4;
        transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
    }

    #career .car-1 p, #career .car-2 p, #career .car-3 p, #career .car-4 p, #career .car-5 p, #career .car-6 p, #career .car-7 p, #career .car-8 p
    {
        width: 225px;
        margin:0 auto;
        color: #6c6c6c;
        font-size: 16px;
        font-weight: 400;
        padding: 8px 0;
        border-bottom: 1px solid #eff2f6;
    }
    #career p img
    {

        height: 15px;
        width: 90px;

    }
    #career p span
    {
        color: #00a651;
        font-size: 16px;
        font-weight: 400;
        margin-left: 80px;
    }
    #career .name
    {
        width: 225px;
        margin:0 auto;
    }
    #career .name img
    {

        height: 28px;
        float: left;
        width: 31px;
        margin-top: 9px;

    }
    #career .p
    {
        margin: auto;
        padding: 0 6px;
    }
    #career .name p
    {
        font-size: 16px;
        float: left;
        font-weight: 400;
        color: #6c6c6c;
        padding-left: 4px;
        border: none;
        width: 190;
        padding-bottom: 0;
        padding-top: 10px;
    }
    #career .name .img2
    {
        height: 15px;
        float: none;
        margin: 0;
        width: 15px;
        padding-left: 25px;
        padding-right: 5px;
    }
    #career .name p span
    {
        background: url(../images/people.png)no-repeat center center;
        height: 10px;
        width: 10px; 
    }
    #career .row:nth-child(2)
    {
        margin-top: 30px;
    }
    .morecont
    {
        text-align: center;
    }
    .morecont a
    {
        color: #560808;
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: none;
    }
    .morecont a:hover
    {
        text-decoration: underline;
        cursor: pointer;
         
    }
    /*****************************Aspire Dimensions*********************************/
    #aspire
    {
        margin-top: 30px;
    }
    #aspire .p
    {
        margin-top: 22px;
    }
    #aspire .aspire-video 
    {
        margin: 28px auto 0px;
        width: 443px;
        height: 250px;
        border: 4px solid #FFF;
        border-radius: 20px;
        box-shadow: 0px 4px 8px 0px transparent, 0px 6px 30px 0px rgba(0, 0, 0, 0.25);
    }
    #aspire video
    {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
    #aspire source
    {
        width: 100%;
    }
    #aspire .aspire-info
    {
        width: 100%;
        background: linear-gradient(to bottom right, #5b0077, #610003);
        padding-bottom: 15px;
        z-index: -5;
        text-align: center;
        margin-top: -125px;
        position: relative;

    }
    #aspire .aspire-info p
    {
        font-size: 14px;
        font-weight: 400;
        margin: 0 auto;
        padding-top: 137px;
        color: #fff;
        width: 80%;
    }
    #aspire .aspire-info .asp-col
    {
        width: 255px;
        float: left;
        margin-top: 10px;
        text-align: center;
    }
    #aspire .asp-col p
    {
        padding: 0; 
        text-align: center;
        width: 100%;
        font-size: 40px;
        font-weight: 300;
    }
    #aspire .hr
    {
        background:#e23775;
        color: #e23775;
        height: 1px;
        border: 0;
        margin: auto;
        width: 26.13px;
    }
    #aspire .asp-col span
    {
        font-size: 18px;
        color: #fff;
        font-weight: 400;
    }
    #aspire input[type=submit]
    {
        padding: 6px 20px;
        border-radius: 20px 20px 20px 0px;
        background: #d19b4d;
        border: none;
        font-size: 14px;
        font-weight: 400;
        margin-top: 32px;
        color: #fff;
    }
    #aspire input[type=submit]:hover
    {
        opacity: 0.8;
         transition: .4s ease-in;
        -webkit-transition: .4s ease-in;
        cursor: pointer;
    }


    /*****************************Learn From The Masters*********************************/
    #masters
    {
        height: 375px;
    }
    #masters
    {
        margin-top: 52px;
    }
    #slider
    {
        margin-top: 32px;
    }
    #masters img
    {
        height: 140px;
        width: 128px;
        margin:0 auto;

    }
    #masters .p
    {
        margin-bottom: 30px;
    }
    #masters .item p
    {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: #8b8b8b;
    }


    #thumbnail-slider-1 {
        width:100%;
        padding:20px;
        box-sizing:border-box;
        position:relative;
        -webkit-user-select: none;
        user-select:none;
    }
    #thumbnail-slider-1 div.inner {

        position:relative;
        overflow:hidden;
        padding:2px 0;
        margin:0;
    }
    #thumbnail-slider-1 div.inner ul {

        white-space:nowrap;
        position:relative;
        left:0; top:0;
        list-style:none;
        font-size:0;
        padding:0;
        margin:0;
        float:left!important;
        width:auto!important;
        height:auto!important;
    }
    #thumbnail-slider-1 ul li {
        display:inline-block;
        *display:inline!important; 
        margin:0;
        height: 150px!important;
        width: 170px!important;
        margin-right:10px;
        transition:border-color 0.3s;
        box-sizing:content-box;
        text-align:center;
        vertical-align:middle;
        padding:0;
        position:relative;
        list-style:none;
        backface-visibility:hidden;
    }
    #thumbnail-slider-1  img
    {
        height: 300px;
    }
    #thumbnail-slider-1 ul li.active {
        border-color:white;
    }

    #thumbnail-slider-1 .thumb {
        opacity:1;
        width:100%;
        height: 100%;
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center center;
        display:block;
        position:absolute;
        font-size:0;
    }
    #thumbnail-slider-pause-play {display:none;} 

    #thumbnail-slider-prev, #thumbnail-slider-next
    {
        opacity:1;
        position: absolute;
        backface-visibility:hidden;
        width:32px;
        height:60px;
        line-height:60px;
        top: 50%;
        margin:0;
        margin-top:-30px;
        color:white;    
        z-index:10;
        cursor:pointer;
    }

    #thumbnail-slider-1-prev {
        left:-30px; right:auto;
    }
    #thumbnail-slider-1-prev:hover, #thumbnail-slider-1-next:hover
    {
        cursor: pointer;
    }
    #thumbnail-slider-1-next {
        left:auto; right:-30px;
    }
    #thumbnail-slider-1-next.disabled, #thumbnail-slider-1-prev.disabled {
        opacity:0.3;
        cursor:default;
    }

    #thumbnail-slider-1-prev::before, #thumbnail-slider-1-next::before {
        position: absolute;
        top: 80px;
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-left: 4px solid #afa9be;
        border-top: 4px solid #afa9be;
    }

    #thumbnail-slider-1-prev::before {
        left:7px;
        -ms-transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        transform: rotate(-45deg);
    }

    #thumbnail-slider-1-next::before {
        right:7px;
        -ms-transform:rotate(135deg);
        -webkit-transform:rotate(135deg);
        transform: rotate(135deg);
    }



    /*****************************Testimonials*********************************/
    #testimonials
    {
        text-align: center;
        background: #f7f7f7;
        height: 375px;
    }
    #testimonials .icon
    {
        margin: 25px 0;
        height: 40px;
    }
    #testimonials p
    {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #8b8b8b;
        padding: 0 6px;
        margin: 0 auto;
        line-height: 28px;
        font-weight: 300;
    }
    #testimonials .mySlides 
    {
      display: none
    }
    #testimonials .slideshow-container 
    {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    #testimonials .prev, #testimonials .next 
    {
        cursor: pointer; 
        width: 25px;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        margin-top: -75px;
        color: #afa9be;
    }
    #testimonials .prev 
    {
        margin-left: 260px;
        left: 0;
    }
    #testimonials .next 
    {
        margin-right: 260px;
        right: 0;
    }
    #testimonials .text 
    {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    #testimonials .p-img
    {
        border-radius: 50%;
        height: 60px;
        border: 2px solid #fff;
        width: 60px;
        margin: 10px 5px;
        transition: 0.5s ease;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, -0.8), 0 6px 30px 0 rgba(0, 0, 0, 0.25);
    }
    #testimonials .act-p-img
    {
        border-radius: 50%;
        height: 90px;
        border: 2px solid #fff;
        width: 90px;
        transition: 0.5s ease;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, -0.8), 0 6px 30px 0 rgba(0, 0, 0, 0.25);
    }
    #testimonials .p-img:hover
    {
        cursor: pointer;
    }
    #testimonials .act-p-img:hover
    {
        cursor: pointer;
    }
    #testimonials .images
    {
        text-align:center;
        margin-top: 25px;
    }
    

    /*****************************blog*********************************/
    #blog
    {
        height: 325px;
    }
    #blog .p
    {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 300; 
        margin-top: 30px;
        text-align: center;
        padding: 8px 6px; 
        
        margin:0 auto;
    }
    #blog .blg-1, #blog .blg-2, #blog .blg-3
     {
        border-radius: 20px 20px 20px 0px;
        border: 1px solid #DDD;
        width: 250px;
        text-align: center;
        height: 200px;
        margin: 15px 2px;
        position: relative;
        float: left;
    }
    #blog .blg-1
    {
        background: #2ebbc5;
    }
    #blog img
    {
        width: 100%;
        border-radius: 20px 20px 20px 0px;
        height: 100%;
    }
    #blog .blog-info
    {
        width: 220px;
        color: #fff;
        z-index: 5;
        margin-left: 15px;
        height: 130px;
        margin-top: -130px;
        background: rgba(0,8,17,0.7);
        position: absolute;
        border-radius: 20px 20px 0px 0px;
    }
    #blog h3
    {
        font-size: 20px;
        font-weight: 400;
        margin-top: 8px;
        line-height: 26px;
    }
    #blog p
    {
        font-size: 12px;
        color: #c4c4c4;
        padding: 0 3px;
        font-weight: 300px;
    }


    /*****************************footer*********************************/
    footer
    {
        background: linear-gradient(to bottom right, #5b0077, #610003);
        padding-top: 22px;
        color: #fff;
        text-align: center;
        margin-top: 40px;
        height: 400px;
    }
    footer ul h3
    {
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 5px;
    }
    footer ul
    {
        list-style: none outside none;
        font-size: 15px;
        margin-bottom: 40px;
        font-weight: 400;
        float: left;
        width: 50%;
    
    }
    footer ul a
    {
        text-decoration: none;
        color: #fff;
    }
    footer ul a:hover
    {
        text-decoration: underline;
    }
    footer ul li
    {
        line-height: 22px;

    }
    footer .socl
    {
        background: url(../images/right-arrow.png)no-repeat center center;
        width: 8px; 
    }
    footer .links a
    {
        margin-left: 10px;

    }
    footer .links img
    {
        display: none;
    }
    footer .links span
    {
        margin-left: 18px;
    }
    footer .address span
    {
        margin-left: 23px;
    }
    footer .address img
    {
        height: 18px;
    }
    footer .course a
    {
        border-radius: 2px;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 400;
        padding: 0 4px;
    }
    #socl 
    {
        background: #560808;
        height: 90px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
    #socl ul
    {
        list-style: none;
        padding-top: 12px;
        width: 111px;
        margin: auto;

    }
    #socl p
    {
        padding-top: 16px;
    }
    #socl img
    {
            padding-top: 4px;
    }
    #socl ul li
    {        

        float: left;
        text-align: center;
        margin: 0px 5px;
        border: 1px solid;
        border-radius: 50%;
        height: 25px;
        width: 25px;
    }
    #socl a:hover, #header img:hover
    {
        opacity: 0.5;
         transition: .5s ease-in;
        -webkit-transition: .5s ease-in;
    }
    
}