
@media only screen and (min-width: 768px) and (max-width: 1169px)/**********tablet****/
{
    .lg-btn
    {
        display: none;
    }
    .container
    {
        width: 768px;
        margin: auto;
    }
    h1
    {
        text-align: center;
        padding: 35px 0;
        text-transform: capitalize;
        font-size: 30px;
    }
    nav
    {
        z-index: 999;
        position: fixed;
        background: #fff;
        width: 100%;
        margin-top: 0px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 7px 35px rgba(0,0,0,0.24);
        border-bottom: 1px solid #ffa41f;
    }
    nav input[type=text]
    {
        display: none;
    }
    nav .fa-search
    {
         display: none;
    }
    button
    {
        height: 40px;
        width: 200px;
        border: 0; 
        background: #ffa41f;
        border-radius:40px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        text-transform: capitalize;
    }
    button:hover
    {
        border: 2px solid #ffa41f;
        border-radius: 40px;
        background: none;
        color: #ffa41f;
        transition: .5s ease-in;
        -webkit-transition: .5s ease-in;
    }
    #banner
    {
        height: 450px;
        background:url(../images/banner/pasta-1181189.jpg)no-repeat center center;
        display:table;
        position:relative;
        width:100%;
        background-size:cover;
    }
    #banner .text
    {
        text-align: center;
    }
    #banner .text h1
    {
        padding-top: 150px;
        font-size: 30px;
        text-transform: capitalize;
        color: white;
        letter-spacing: 1px;
    }
    #banner .text p
    {
        color: #fff;
         font-size: 20px;
        padding-top:25px;
        letter-spacing: 1px;
    }
     #banner .text h3
    {
        color: #fff;
        font-size: 20px;
        font-weight: 200;
        font-style: italic;
        letter-spacing: 2px;

    }
     #banner .text span
    {
        background: #ffa41f;
        color: #000;
        padding: 0 7px;
    }
    #banner .text button
    {

        display: none;
    }

    /*popular menu*/
    #popular-menu
    {
        width: 100%;
        height: 800px;
    }
    #popular-menu .img-hover
    {
        width: 344px;
        height: 210px;
        margin:20px;
        float: left;
    }
    #popular-menu .img-hover img
    {
        width: 100%;
        height: 210px;
    }
    .img-hover 
    {
        position: relative;
        width: 50%;
    }
    .popular-txt
    {
        
        color: white;
        position: absolute;
        bottom: 100%;
        left: 0;
        opacity: 0.9;
        text-align: center;
        right: 0;
        background-color: #141414;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    .popular-txt h2
    {
        margin-top: 20px;
    }
    .popular-txt h3
    {
        margin: 25px;
    }
    .popular-txt button
    {
        width: 175px;
        height: 40px;
        background: none;
        
        
    }
    .popular-txt button:hover
    {
        border: 1px solid white;
        transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
    }
    .img-hover:hover .popular-txt {
      bottom: 0;
      height: 100%;
    }
    #popular-menu a
    {
        color: chocolate;
    }

    
    /*gallery*/
    #gallery
    {

        background: #141414;
    }
    #gallery h1, #booking h1
    {
        color: #fff;
    }
    .container-gal
    {
        width: 700px;
        margin: auto;
    }
    .md-gal
    {
        display: none;
        
    }
    #gallery
    {
        height: 670px;
    }
    #gallery p, #popular-menu p
    {
        text-align: center;
    }
    #gallery a
    {
        color: #fff;
        text-decoration: none;
    }
    #gallery a:hover, #popular-menu a:hover
    {
        text-decoration: underline;
        color: #ffa41f;
        cursor: pointer;
    }
    #gallery .gal-img
    {
        float: left;
        width: 233px;
        height: 200px;
    }
    #gallery .gal-img img
    {
        width: 100%;
        height: 200px;
    }
    
    /*booking*/
    #booking 
    {
        background:url(../images/banner/eat-2834549_1920.jpg)no-repeat center center fixed;
        display:table;
        position:relative;
        width:100%;
        background-size:cover;
    
    }
    #booking input[type=number], #booking input[type=text], #booking input[type=time]
    {
        padding: 12px 10px;
        margin: 5px;
        border-radius: 1px;
        width: 270px;
        height: 20px;
        border: 0;
        float: left;
        outline: none;
    }
    #booking form
    {
        text-align: center;
        width: 600px;
        margin: auto;
    }
    #booking button
    {
        margin-top: 20px;
        width: 295px;
        margin-left: 2px;
    }
    /************all menus page***************/
    #menus-all
    {
        padding: 0;
    }
    #menu-banner
    {
        background:url(../images/banner/menu-2509046.jpg)no-repeat center center fixed;
        display:table;
        position:relative;
        width:100%;
        background-size:cover;
        height: 325px;
    }
    
    .actab
    {
        background: #ffa41f;
        color: #fff;

    }
    .all_food_menu
    {
        width:1150px;
        border: 0px solid;
        height:2155px;    
        margin: 0 auto;
    }
    .tab 
    {
        overflow: hidden;
        width:700px;
        margin-top: 25px;
        margin-bottom: 15px;

    }
    .tab button 
    {
        margin-right: 15px;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        width: 160px;
        font-weight: 600;
        background: none;
        color: #ffa41f;
        height: 48px;
        transition: 0.3s;
        font-size: 17px;
    }
    .tab button:hover 
    {
        background: darkoranage;
    }
    .tab button:focus
    {
        background: #ffa41f;
        color: #fff;
    }
    .tabcontent 
    {
        display: none;
    }
    .topright 
    {
        float: right;
        cursor: pointer;
        font-size: 28px;
    }
    #London span:first-child, #Paris span:first-child, #Tokyo span:first-child, #Ind span:first-child
    {    
        color: white;font-size: 22px;
        font-weight: 600;line-height: 95px;
    }
    .menu_in a,  .menu_in a,  .menu_in a,  .menu_in a
    {
        color: #fff;
        line-height: 70px;
    }
    .menu_in a:hover,  .menu_in a:hover,  .menu_in a:hover,  .menu_in a:hover
    {
        color: #ffa41f;
        text-decoration: underline;
    }
    #London button,  #Paris button,  #Tokyo button,  #Ind button
    {  
       color: white;
       background: #ffa41f;
       border: 0;
       cursor: pointer;
       font-size: 16px;
       width: 125px;
       height: 35px;
       margin-top: 45px;
    }
    #London .prc,  #Paris .prc,  #Tokyo .prc,  #Ind .prc
    {    
        font-size: 17px;color: white;
    }
    #London .menu_in, #Paris .menu_in, #Tokyo .menu_in, #Ind .menu_in
    {
        padding: 15px 15px;
    }
    .topright:hover 
    {
        color: red;
    }
    #London hr, #Paris hr,  #Tokyo hr,  #Ind hr
    {   
        width: 525px;
        margin: 0 25px;
    }
    #London img,  #Paris img,  #Tokyo img,  #Ind img
    {
         height: 185px;width: 250px;float: left;padding: 25px 36px;
    }
    .all_food_menu .menu-div
    {
        width: 575px;
        background:#141414;
        float: left;
        padding-top: 50px;
        height: 1975px;
    }
    .all_food_menu .menu-div-2
    {
        width: 575px;
        padding-top: 50px;
        background: #141414;
        height: 1975px;
        margin-left: 575px;
    }

    
    /*footer*/
    footer
    {
        text-align: center;
        color: white;
        background: #141414;
    }
    footer a
    {
        color: white;
    }
    footer h2
    {
        margin: 25px 0;
    }
    footer ul
    {
        padding: 25px 0px;
        float: none;
        margin: auto;
        width: 300px;
        text-align: center;
       
    }
    footer ul li
    {
        list-style: none;
    }
    .socl li:not(:first-child)
    {
         margin-left: 25px;
    }
    .socl li
    {
        float: left;
        width: 25px;
        margin-right: 20px;
        height: 25px;;
    }
     .socl span:hover
    {
        background: #ffa41f;
        border: 1px solid #ffa41f;
        transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
    }
    .socl span
    {
        border: 1px solid;
        padding: 5px;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        height: 25px;
        border-radius: 2px;
        width: 25px;
    }
    footer input[type=text]
    {
        padding: 12px 10px;
        margin: 5px;
        border-radius: 1px;
        height: 20px;
        border: 0;
        outline: none;
        margin: 0;
        width: 250px;
    }
    footer button
    {
        height: 40px;
        width: 270px;
    }
    footer .add
    {
        clear: both;
    }
    footer .add span
    {
        
        font-size: 28px;
        margin-right: 10px;
    }
    .foot-txt
    {
        color: white;
        background: #000;
        text-align: center;
        padding: 20px 0;
    }
    section
    {
      
        padding-bottom: 100px;
    }

}
